"\e[A": history-search-backward
"\e[B": history-search-forward

#This alters the default behavior of the completion functions. If set to ‘on’, words which have more than one possible completion cause the matches to be listed immediately instead of ringing the bell. The default value is ‘off’.
set show-all-if-ambiguous on

#Readline performs filename matching and completion in a case-insensitive fashion. The default value is ‘off’.
set completion-ignore-case on
